
@{
    ViewData["Title"] = "Index";
}


<h1 style="text-align:center; background-color:aqua;margin-top:20px;box-shadow: 5px 5px 5px orange;border-radius:20px">Student Details</h1><br />

Welcome.............
To see student details please click the Student tab