@model Student

<h1>Delete Student</h1>

<form method="post" asp-action="DeletePost">

    <div class="container">
    <div class="border p-3">
        <input asp-for="Id" type="hidden">
        <label>Student Name :</label><input asp-for="StudentName" class="form-control" style="width:300px" required>
        <label>Student City :</label><input asp-for="City" class="form-control" style="width:300px" required>
        <button type="submit" style="width:150px;margin-top:10px" class="btn btn-success">Delete</button>
        <a asp-controller="Student" asp-action="Index" class="btn btn-danger" style="width:150px;margin-top:10px">Bact to List</a>
    </div>
    </div>
    </form>